@import "bootstrap-overrides.scss";
:root {
  --bs-link-hover-color: #fff;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-bg: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-active-bg: transparent;
  --bs-btn-active-border-color: transparent;
}

.btn-check:checked + .btn,
.btn-check:active + .btn,
.btn:active,
.btn:hover {
  border-color: var(--bs-btn-border-color, transparent);
  background-color: var(--bs-btn-hover-bg, transparent);
}

.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled).active,
.show > .btn.dropdown-toggle {
  border-color: var(--bs-btn-active-border-color, transparent);
  background-color: var(--bs-btn-active-bg, transparent);
}

.btn:focus {
  box-shadow: none;
}

// Variabili per i colori
$primary-color: #121212;
$secondary-color: #2a2a2a;
$footer-background-color: #333;
$hover-bg-color: rgba(141, 141, 141, 0.328);
$scrollbar-color: #89898940;
$scrollbar-hover-color: #555;
$text-color: white;

// Variabili per le dimensioni
$top-height: 228.39px;
$footer-height: 76px;
$more-space: 5px;
$max-container-width: 1000px;
$gap-btn-container: 8px;
$scrollbar-width: 10px;
$margin-left-custom: 15px;
$btn-padding: 0.3rem 0.6rem;
$btn-font-size: 0.9rem;
// $playlist-max-height: calc(100vh - 320px);

.container-my {
  max-width: $max-container-width;
  margin-inline: auto;
}

.my-text-secondary {
  color: #6c757d;
}

.left-bar {
  max-width: 90vh;
  overflow-y: auto;
}

#side-right {
  max-height: 630px;
}

.my-m {
  margin-left: $margin-left-custom;
}

.my-bg-color {
  background-color: $primary-color;
}

.my-btn-bg {
  background-color: $secondary-color;
}

.btn-container button {
  &:hover {
    background-color: $hover-bg-color !important;
  }
}
svg {
  cursor: pointer;
}

.btn {
  padding: $btn-padding;
  font-size: $btn-font-size;
}

.btn-container {
  gap: $gap-btn-container;
}

.pointer {
  cursor: pointer;
}

.home-container {
  .home-text h5,
  .home-icon path {
    transition: color 0.3s ease, fill 0.3s ease;
  }

  &:hover {
    .home-text h5 {
      color: #ffffff;
    }
    .home-icon path {
      fill: #ffffff;
    }
  }
}

.search-container {
  .search-icon path,
  .search-text h5 {
    transition: fill 0.3s ease, color 0.3s ease;
  }

  &:hover {
    .search-icon path {
      fill: #fff;
    }
    .search-text h5 {
      color: #fff;
    }
  }
}

.container-hover {
  .Library-icon path,
  .Library-text h5 {
    transition: fill 0.3s ease, color 0.3s ease;
  }

  &:hover {
    .Library-icon path {
      fill: #fff;
    }
    .Library-text h5 {
      color: #fff;
    }
  }
}

.p-playlist {
  color: $text-color;
}

// #playlist {
// 	max-height: 70vh;
// 	overflow-y: auto;
// }

#content {
  max-height: 88vh;
  overflow-y: auto;
}

/* Modifica l'aspetto dell'intera scrollbar */
#playlist::-webkit-scrollbar,
#content::-webkit-scrollbar {
  width: $scrollbar-width;
}

/* Modifica l'aspetto del tracciato della scrollbar */
#playlist::-webkit-scrollbar-track,
#content::-webkit-scrollbar-track {
  background: transparent;
}

/* Modifica l'aspetto della maniglia di scorrimento della scrollbar */
#playlist::-webkit-scrollbar-thumb,
#content::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  &:hover {
    background: $scrollbar-hover-color;
  }
}
#profileLink::before {
  display: none;
}
// Stili per il footer
// .footer {
// 	position: fixed;
// 	left: 0;
// 	right: 0;
// 	bottom: 0;
// 	height: $footer-height;
// 	background-color: $footer-background-color;
// 	color: white;
// 	z-index: 1030;
// 	padding: 0 1rem;
// 	// Controlli di riproduzione
// 	.playback-controls {
// 		.btn {
// 			margin: 0 0.25rem;
// 			color: white;
// 			&:hover {
// 				color: #1db954;
// 			}
// 		}
// 	}
// }

// Footer (Barra inferiore)
.fixed-bottom {
  //height: $footer-height;
  background-color: $footer-background-color;
  color: white;
  padding: 0 1rem;
  z-index: 1080;
}
#progressBar {
  width: 400px;
  height: 5px;
}
#insideBar {
  height: 5px;
  width: 0;
}

.svg-container {
  width: 25px;
  height: 25px;
  margin-inline: 5px;
}

$bg-color: hsla(0, 0%, 100%, 0.3);
$fg-color: #fff;
$active-fg-color: #1db954;
$progress-bar-height: 4px;

// Applica gli stili all'input range
input[type="range"] {
  --progress-bar-height: #{$progress-bar-height};
  --bg-color: #{$bg-color};
  --fg-color: #{$fg-color};
  --is-active-fg-color: #{$active-fg-color};
  height: var(--progress-bar-height);
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  width: 100%;
  background-color: var(--bg-color);
  -webkit-appearance: none;
  appearance: none;
  border-radius: 15%;

  &:focus {
    outline: none;
  }
  &:active {
    background: var(--is-active-fg-color);
  }

  // Stile per la traccia dello slider
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--progress-bar-height);
    cursor: pointer;
    background-color: var(--bg-color);
    border-radius: var(--progress-bar-radius);
  }

  // Stile per il pollice dello slider
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: var(--fg-color);
    cursor: pointer;
    margin-top: calc(var(--progress-bar-height) / 4);
    &:hover {
      background: var(--is-active-fg-color);
    }
  }
}
// Altezza della sezione scrollabile della sidebar
.scrollable-section-side {
  max-height: calc(98vh - #{$top-height} - #{$footer-height});
  overflow-y: auto;
}

// .scrollable-section-side {
// 	position: fixed;
// 	top: #{$top-height};
// 	bottom: calc(#{$footer-height} + #{$more-space});
// 	overflow-y: auto;
// 	left: 12px;
// }

body {
  padding-bottom: $footer-height;
}

.sticky-container {
  position: sticky;
  top: 5px;
}

.artistbg {
  background-image: url(./assets/imgs/main/yellowcard_2023_1280x1280_1676342674.jpg);
  width: 100%;
  height: 30.85vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
}

.artistbg2 {
  background-color: #121212;
  width: 100%;
  //height: 49vh;
}

.artistbg2row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.followbutton {
  border: 1px solid white;
  background-color: black;
  color: white;
}

thead th {
  color: white;
  font-weight: bold;
}

.numbertd {
  width: 10px;
  text-align: center;
}

.imgtd {
  width: 28px;
  height: 28px;
}

.due {
  width: 7%;
  text-align: left;
}

.canzonetd {
  width: 50%;
  text-align: center;
}

.ascoltatoritd {
  width: 17%;
  text-align: left;
}

.duratatd {
  width: 90%;
  text-align: center;
}

tr td {
  color: white;
}

table {
  height: 60%;
}

table tfoot tr td {
  padding-left: 10px;
  width: 10%;
}
