@import "bootstrap-overrides.scss";

// Variabili per i colori
$primary-color: #121212;
$secondary-color: #2a2a2a;
$footer-background-color: #333;
$hover-bg-color: rgba(141, 141, 141, 0.328);
$scrollbar-color: #89898940;
$scrollbar-hover-color: #555;
$text-color: white;

// Variabili per le dimensioni
$footer-height: 80px;
$max-container-width: 1000px;
$left-bar-width: 400px;
$gap-btn-container: 8px;
$scrollbar-width: 10px;
$margin-left-custom: 15px;
$btn-padding: 0.3rem 0.6rem;
$btn-font-size: 0.9rem;
$playlist-max-height: calc(100vh - 320px);

.container-my {
	max-width: $max-container-width;
	margin-inline: auto;
}

.left-bar {
	width: $left-bar-width;
	height: 100%;
}

.my-m {
	margin-left: $margin-left-custom;
}

.my-bg-color {
	background-color: $primary-color;
}

.my-btn-bg {
	background-color: $secondary-color;
}

button {
	&:hover {
		background-color: $hover-bg-color !important;
	}
}
svg {
	cursor: pointer;
}

.btn {
	padding: $btn-padding;
	font-size: $btn-font-size;
}

.btn-container {
	gap: $gap-btn-container;
}

.pointer {
	cursor: pointer;
}

.hover {
	&:hover {
		color: $text-color;
	}
}

.p-playlist {
	color: $text-color;
}

#playlist {
	overflow-y: auto;
}

#side-right {
	max-height: 650px;
}

/* Modifica l'aspetto dell'intera scrollbar */
#playlist::-webkit-scrollbar {
	width: $scrollbar-width;
}

/* Modifica l'aspetto del tracciato della scrollbar */
#playlist::-webkit-scrollbar-track {
	background: transparent;
}

/* Modifica l'aspetto della maniglia di scorrimento della scrollbar */
#playlist::-webkit-scrollbar-thumb {
	background: $scrollbar-color;
	&:hover {
		background: $scrollbar-hover-color;
	}
}

// Stili per il footer
.footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: $footer-height;
	background-color: $footer-background-color;
	color: white;
	z-index: 1030;
	padding: 0 1rem; // Padding orizzontale per i contenuti del footer

	// Controlli di riproduzione
	.playback-controls {
		.btn {
			margin: 0 0.25rem; // Spaziatura tra i bottoni
			color: white;
			&:hover {
				color: #1db954; // Colore di evidenziazione quando il mouse passa sopra
			}
		}
	}
}

body {
	padding-bottom: $footer-height;
}
